{% extends 'AJNIHA/layout.html' %}
{% load static %}
{% block content %}
<style>
/* General CSS Setup */

/* CSS talk bubble */
.talk-bubble {
    width: 90%;
	margin: 40px;
  display: inline-block;
  position: relative;
	height: auto;
	background-color: #639eca;
    color: white;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: #639eca transparent transparent #639eca;
}

.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: #ffffff #ffffff transparent transparent;
}



/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
    font-weight: bold;
    font-size: 20px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
</style>
<main id="main">


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

<br><br>
          <div class="section-title">
          <h2>تواصل معنا</h2>
        </div>

<a href="{% url 'contactUs' %}">
    <div style="width: 90%;" class="talk-bubble tri-right round btm-left-in">
  <div class="talktext">
    <p>ارسل لنا رسالة</p>
  </div>
</div></a>
          <a  href="{% url 'suggestBook' %}">
    <div style="background-color: white;color:#639eca" class="talk-bubble tri-right round btm-right-in">
  <div style="text-align: right" class="talktext">
    <p >قم باقتراح كتاب</p>
  </div>
</div></a>
          </div>
    </section><!-- End Contact Section -->
</main>
{% endblock %}