{% extends 'AJNIHA/layout.html' %}
{% load static %}
{% block title %}أجنحة | {{ request.user }} {% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'wingsApp/userHome/assets/css/noteNavStyle.css'%}" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

<script>
    document.getElementById("noteMainNav").classList.add("active")
    document.getElementById("libMainNav").className ="nav-link scrollto"
    document.getElementById("addMainNav").className ="nav-link scrollto"
    document.getElementById("readMainNav").className ="nav-link scrollto"
    document.getElementById("contactlibMainNav").className ="nav-link scrollto"
</script>
</head>
<body>
<header class="topnav">
    <div class="navTypes">
           <a class="" href="{% url 'allNotes' %}"> القرَّاء  <i class="bx bx-globe"></i></a>
            <a  class="activeNote" href="{% url 'liked' %}"> المفضلة<i class="bx bx-book-bookmark"></i> </a>
    <a  class="" href="{% url 'myNotes' %}"> مدوناتي<i class="bx bx-note"> </i> </a>
        </div>
<div class="search-container">
           <form method="post">
    {% csrf_token %}

 <input type="text" placeholder="...ابحث"   id="search-box" name="search-boc"  />
                                  <button type="submit" id="search" name="search" ><i  class="bx bx-search" ></i></button>
         </form>
  </div>
</header>
<main id="main">

    <link href="{% static 'wingsApp/userHome/assets/css/noteNavStyle.css'%}" rel="stylesheet">

    <section style="background-color: transparent" id="portfolio" class="portfolio section-bg" >
<div style="direction:rtl;background-color: rgba(5,32,40,0.37);
  align-items: center;
  padding: 30px;
"
 class="container">

<div class="form__group">

  {% if message == "succD" %}
      <h3 style="width: 90%; margin: auto; border-radius: 2em;  color: white" class=" border-success alert-success bg-success  text-center" >تم حذف المدونة بنجاح</h3>
      {% elif message == "succA" %}
          <h3 style="width: auto" class=" border-success alert-success bg-success  text-center" >تم إضافة المدونة  </h3>
      {% elif message == "succE" %}
          <h3 style="width: auto" class=" border-success alert-success bg-success  text-center" >تم التعديل على المدونة </h3>
      {% elif message == "succL" %}
          <h3 style="width: auto" class=" border-success alert-success bg-success  text-center" >تم تعديل المفضلة</h3>
      {% elif message == "succD" %}
          <h3 style="width: auto" class=" border-success alert-success bg-success  text-center" >تم حذف المدونة </h3>
      {% elif message == "error" %}
          <h3 style="width: auto" class=" border-warning alert-warning bg-warning  text-center" >حدث خطأ :<</h3>
      {% endif %}

</div>





<!-- The Modal -->
	<div style="padding-top: 1%" id="myModal" class="modal" >
	  <!-- Modal content -->
	  <div style="padding: 0;width:60%;top:1%" class="modal-content" id="changi">
	    <div class="modal-body">
	      <div style="border: transparent  3px" id="myModel1" class="modal1">
	    <div  class="modal__container">
	      <div id="pici" style="transform:rotateY(180deg);" class="modal__featured">
	<button disabled type="button" class="button--transparent button--close">
	          <span class="close">&times;</span>
        </button>
        <div class="modal__circle" > </div>
        <img src="https://raw.githubusercontent.com/eee23d/w1/main/qe.png" class="modal__product"  />
      </div>
  <form method="post">
{% csrf_token %}
      <div style="" class="modal__content">
          <li style="" class="form-list__row form-list__row--inline">
        <h2>إضافة تدوينة</h2>
                <div class="dropdown">

                    <select name="shelfSelect" id="shelfSelect"style="width: 100px;margin: 7px;" title="اختر كتاب"  required>
                    <option disabled selected value> اختر كتاب</option>
                      {% for book in bookForShelf %}
                    <option  value="{{book.book.bookTitle }}" class="dropdown">{{ book.book.bookTitle }}</option>
                    {% endfor %}
                    </select>
              </div>
            </li>
          <ul class="form-list">
            <li class="form-list__row">
              <input placeholder="عنوان التدوينة" type="text" name="title" required />
            </li>
            <li class="form-list__row">
              <textarea placeholder=" التدوينة" name="note" required></textarea>
            </li>
                  <h2>اضافة ورد</h2>
              <li class="form-list__row form-list__row--inline" style="margin: auto">
              من
                    <div style="direction: rtl;" class="number-input">
                        <button style="background-color: #5eb0f6" type="button" id = "minusB1" class="btn btn-primary"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-
                        </button>
                        <input style="font-size: 20px;" class="quantity" min=1 name="fromP" id ="fromP" value=1 type="number" required>
                        <button style="background-color: #5eb0f6; direction: rtl;" type="button" id ="plusB1" class="btn btn-primary"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="plus">+
                        </button>
                    </div>
إلى
                    <div style="direction: rtl;" class="number-input">
                        <button style="background-color: #5eb0f6" type="button" id="minusB2" class="btn btn-primary"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-
                        </button>
                        <input style="font-size: 20px;" class="quantity" name="toP" id="toP" value=2 type="number" required >
                        <!--check num-->
                        <button style="background-color: #5eb0f6" type="button" class="btn btn-primary" id ="plusB2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                class="plus">+
                        </button>
                    </div>
            </li>
              <li class="form-list__row">

              </li>
              <li class="" style="margin: auto">
                     <label class="form-check-label"  for="private" >تدوينة خاصة</label>
                  <input type="checkbox" style="width: 30px;margin-right: 20px"  name="private" >


            </li>
              <hr>
                <li class="form-list__row" >
              <button style="width: 100%;
    "; type="submit" name="AddNote" id="AddNote" class="button">نشر</button>

            </li>
          </ul>
      </div>
        </form>
</div>

      </div> <!-- END: .modal__content -->
    </div> <!-- END: .modal__container -->
  </div> <!-- END: .modal -->
    </div>



<script>
// Get the modal
var modal = document.getElementById("myModal1");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");
// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }}
</script>




{% if error == "no results" %}
              <h3 style="width: auto" class=" border-warning alert-warning bg-warning  text-center" >لا توجد نتائج.. </h3>

{% endif %}
{% for note in notes %}
<div style=""  data-aos="fade-up" data-aos-delay="100">


    <div style="  border-color: hsla(0, 0%, 100%, .6);
" class=" portfolio-item filter-app">


        <div style="background-color: white;
border-style: solid;border-color: #b4b8b8;border-width: 2px;
padding: 10px;
" class="portfolio-wrap1  ">

            <p style="text-align: right">
                    <b style="font-size: 24px;float: right;" >{{ note.note_id.note_title }}</b>
            <br>
               <p style="float: right;">   {{ note.note_id.book_shelf_user.reader.username }} في  {{ note.note_id.date.date }}</p>
                    <br><br>
                    <b style="float: right;">من كتاب: {{ note.note_id.book_shelf_user.book.bookTitle }}</b>
                    <br><br>
            <p style="float: right; margin-right: 10px"><i class="bx bxs-quote-alt-right " style="float: right;margin-right: 10px;margin-left: 10px"></i> {{ note.note_id.summary}} <i class="bx bxs-quote-alt-left" style="margin-left: 10px;margin-right: 10px"></i></p>
            </p>
            <div class="portfolio-links" >
                 <a  class="portfolio-lightbox" title="
	                  <h3 style='color:#e16912;' > عنوان التدوينة: {{ note.note_id.note_title }} </h3> </b>
	                  <h5 style='color:#e16912  ;' > من كتاب: {{ note.note_id.book_shelf_user.book.bookTitle }}
	                   من صفحة {{ note.note_id.fromPage }}
	                   إلى {{ note.note_id.toPage }}</h5>
	                  <hr>
	<h4 style='color: #322e2f;'>
	 {{ note.note_id.note }}
	 </h4>
	 <br>
	 <hr>
	 <h4 style='color:#12a4d9;'>
	{{ note.note_id.book_shelf_user.reader.username }} :نشرت بواسطة
	<br>
	</h4>
	<h6 style='color:#12a4d9;'>
	{{ note.note_id.date}}
	</h6>
	</div>
	" style="padding-left: 5px;">

               <i class="bx bx-detail hvr-icon-bounce" style="padding-left: 5px; color: #1d71b8; font-size:24px; "></i>
</a>
                <div style="display: inline-block; margin-bottom: 15px; padding: 0px" >
                <a title="إضافة إلى المفضلة" id="{{ note.id }}" name="FavNav"><i class="bx bxs-heart hvr-icon-bounce" style="padding-left: 5px; color: darkred; font-size:24px; "id="{{ note.note_id.id }}"></i> </a>
                </div>
        </div>
    </div>
</div>


{% endfor %}
 <form method="post">
                     {% csrf_token %}
                <input type="text" style="visibility: hidden" name="txt" id="txt"  >
     <input type="submit" name = "FavA" id="FavA" style="visibility: hidden">
        </form>

</div>
</div>
</div>
    </section>
</main>



<!--as you see Ladies and Gentlemen I handeled bad input here for bad page input (if from larger than to and other many cases, no body will say thanks? even ms I dont think she can notice it,
anyway noProblem  all matters to know it I made with love:} -->
  <script>
        //fav navigation
     var favNav = document.getElementsByName("FavNav");
    for (var i = 0; i < favNav.length; i++) {
        favNav[i].addEventListener("click",favAddFnav);
         {% for note in notes %}
        if (favNav[i].id == "{{ note.id }}") {
             {% for n in fav %}
                {% if note.note_id.id == n.note_id.id %}
                    favNav[i].setAttribute("title","إزالة من المفضلة");

                {% endif %}
             {% endfor %}
            }
        {% endfor %}
    }
    function favAddFnav(r){
        var Id= r.target.id;
        {% for note in notes %};
        if (Id == "{{ note.note_id.id }}") {
            document.getElementById("txt").value="{{  note.note_id.id  }}";
           document.getElementById("FavA").click();
        }
        {% endfor %}
    }

 </script>


    </body>
<button id="myBtn"  type="button" class="button addNote  bx bxs-pen " style="font-size:36px; border-radius: 9em;position: fixed; bottom: 5%;left: 3%;padding: 25px;" > دوِّن </button>

    </html>

{% endblock %}