
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <title>{% block title %} أجنحة{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
    <link href="{% static 'wingsApp/Medicio/assets/img/logobook1.png'%}" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'wingsApp/userHome/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'wingsApp/userHome/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.2.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">

            <img src=" {% block profile %} {{ reader.prof_pic.url }} {% endblock %} " alt="" class="rounded-circle" style="border-radius: 6em;height: 115px;">

        <h1 class="text-light"><a href="index.html">{{ request.user.first_name }}  {{ request.user.last_name }} </a></h1>
      </div>
    </div>
      <nav id="navbar" class="nav-menu navbar">
          <ul>
          <li><a href="{% url 'library' %}" class="nav-link scrollto"> <span style="color:#1f435f">dd</span> <span> مكتبتي </span><span style="color:#1f435f">d</span><i class="bx bx-library"></i></a></li>
           <li><a href="{% url 'search' %}" class="nav-link scrollto"><span style="color:#1f435f; font-size: small">ddd</span> <span> أضف كتاب </span><span style="color:#1f435f">d</span><i class="bx bx-book-add"></i> </a></li>
          <li><a href="{% url 'notes' %}" class="nav-link scrollto "><span style="color:#1f435f; font-size: small">ddd</span> <span> مدوناتي </span><span style="color:#1f435f">d</span><i class="bx bx-file-blank"></i> </a></li>
         <li><a href="{% url 'stat' %}" class="nav-link scrollto"><span style="color:#1f435f; font-size: small">ddd</span> <span> قراءتي </span><span style="color:#1f435f">d</span><i class="bx bx-chart"></i> </a></li>
          <li><a href="{% url 'setting' %}" class="nav-link scrollto"><span style="color:#1f435f;font-size: small">d</span> <span> اعدادات </span><span style="color:#1f435f">d</span><i class="bx bx-user"></i> </a></li>
           <li><a href="{% url 'contact' %}" class="nav-link scrollto"><span style="color:#1f435f;font-size: small">d</span> <span> تواصل معنا </span><span style="color:#1f435f">d</span><i class="bx bx-envelope"></i> </a></li>
          <li><a href="{% url 'logoutUser' %}" class="nav-link scrollto"><span style="color:#1f435f;font-size: small">d</span> <span> تسجيل الخروج </span><span style="color:#1f435f">d</span><i class="bx bx-exit"></i> </a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
{% block content %}

{% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'wingsApp/userHome/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/typed.js/typed.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/waypoints/noframework.waypoints.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'wingsApp/userHome/assets/js/main.js'%}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
