{% extends 'AJNIHA/layout.html' %}
{% load static %}
{% block title %}أجنحة | مكتبتي {% endblock %}
{% block content %}

<main id="main">

<section id="portfolio" class="portfolio section-bg">
<a href="{% url 'search' %}"><button class="add" >إضافة كتاب</button></a>
<button class="add" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="myBtn" >إضافة رف</button>

{% for shelf in shelves %}
    <div style="" class="container">
        <div class="section-title">
            <h2> {{ shelf.shelfName }}</h2>

        </div>

        <div style="" class="row" data-aos="fade-up" data-aos-delay="100">
            {% for book in bookForShelf %}
                {% if book.shelf == shelf %}

                    <div style="width: 200px" class="portfolio-item filter-app">
                        <div style="" class="portfolio-wrap">
                            <img src="{{ book.book.image.url }}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-links">

                                <a href="{% url 'userHome' %}"> {{ book.book.bookTitle }}
                                    <br>
                                    {{ book.book.author }}
                                </a>

                            </div>

                        </div>

                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
</section><!-- End Section -->


















</main>


<!-- The Modal -->
<div style="direction: rtl" id="myModal" class="modal" >

  <!-- Modal content -->
  <div style="padding: 0" class="modal-content" id="changi">

    <div class="modal-body">
      <div style="border: transparent  3px" id="myModel1" class="modal1">
    <div class="modal__container">
      <div id="pici" style="transform:rotateY(180deg);" class="modal__featured">
<button type="button" class="button--transparent button--close">
    <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">


    <g><path fill="#ffffff" d="M1.293,15.293L11,5.586L12.414,7l-8,8H31v2H4.414l8,8L11,26.414l-9.707-9.707 C0.902,16.316,0.902,15.684,1.293,15.293z"></path> </g></svg>
          <span class="close">&times;</span>

          <span class="visuallyhidden">Return to Product Page</span>
        </button>

        <div class="modal__circle" > </div>
        <img src="https://raw.githubusercontent.com/eee23d/Aj/main/Copy%20of%20Untitled.png" class="modal__product1"  />
      </div>

      <div style="" class="modal__content">
          <li style="" class="form-list__row form-list__row--inline">
        <h2>اسم الرف</h2>
              <input  type="text" name="shelfName" required="" />
            </li>
          <hr>
          <li style="color: white" class="form-list__row" >
             <button style="width: 100%;"; type="submit" class="button">اضافة</button>
            </li>
    </div> <!-- END: .modal__container -->
  </div> <!-- END: .modal -->
    </div>
  </div>
</div>
</div>


{% endblock %}