{% extends 'AJNIHA/layout.html' %}
{% load static %}
{% block title %}أجنحة | مدوناتي {% endblock %}

{% block content %}

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div style="direction:rtl;border-color: #f00d95;border-style: solid;background-color: rgba(211,243,214,0.37) "
             class="container">
            <div class="section-title">
                <h2>مدوناتي</h2>
            </div>


            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <div class="form__group">
                <input id="myBtn" type="text" class="form__input" placeholder="اضف تدوينة" required=""/>
            </div>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">

                    <div class="form__group field">
                        <div class="container">
                            <div>
                                <h2>اضف تدوينة</h2>
                                <hr>



                                <div class="dropdown">
            <button class="dropbtn">Category</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
<div class="dropdown">
            <button class="dropbtn">Location</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
                                <hr style="color: transparent">

                                <form>

                                    <label class="field field_v1">
                                        <input class="form__input" placeholder="العنوان">

                                    </label>
                                    <br>
                                    <textarea id="story" name="story"
                                              rows="5" cols="33" placeholder="التدوينة"></textarea>
                                                                    <hr style="color: transparent">

                                    اضافة ورد من
              <input type="number" id="quantity" name="quantity" min="1" >
                                    إلى
               <input type="number" id="quantity" name="quantity" min="1">
                                                                    <hr style="color: transparent">

                                    <button style="width: 100%;">اضافة</button>


                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div style="border-color: #0dcaf0;border-style: solid" class="row" data-aos="fade-up">
                <div style="border-color: #3ba2b7;border-style: solid" class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">الكل</li>
                        <li data-filter=".filter-app">رف1</li>
                        <li data-filter=".filter-card">رف2</li>
                        <li data-filter=".filter-web">رف3</li>
                    </ul>
                </div>
            </div>

            <div style="border-color: #5c0df0;border-style: solid" class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div style="background-color: white" class="portfolio-wrap">
                        <p>
                            <b style="font-size: 24px;">انهضوا كل صباح</b>
                            |
                            الثلاثاء، 14\2\2021
                            <br><br>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            مهما كان شعوركم، فانهضوا كل صباح، واستعدوا لتدعوا نوركم ينشر شعاعه.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>

                        </p>
                        <div class="portfolio-links">
                            <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                    class="bx bx-plus"></i></a>
                            <a href="" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <p>
                            <b style="font-size: 24px;">انهضوا كل صباح</b>
                            |
                            الثلاثاء، 14\2\2021
                            <br><br>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            مهما كان شعوركم، فانهضوا كل صباح، واستعدوا لتدعوا نوركم ينشر شعاعه.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>

                        </p>
                        <div class="portfolio-links">
                            <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                    class="bx bx-plus"></i></a>
                            <a href="" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <p>
                            <b style="font-size: 24px;">انهضوا كل صباح</b>
                            |
                            الثلاثاء، 14\2\2021
                            <br><br>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            مهما كان شعوركم، فانهضوا كل صباح، واستعدواعه.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>

                        </p>
                        <div class="portfolio-links">
                            <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                    class="bx bx-plus"></i></a>
                            <a href="" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section><!-- End Portfolio Section -->

{% endblock %}