{% extends 'AJNIHA/layout.html' %}
{% load static %}
{% block content %}
<!-- ======= Contact Section ======= -->
<section id="portfolio" class="portfolio section-bg">
      <div style="width: 60%;margin-right: 30%"  class="container">
                  <div style="text-align: center" class="row" data-aos="fade-up" data-aos-delay="100">



<br><br>
          <h1>شكراً لمراسلتك، سيتم النظر فيها والرد عليها عبر بريدك الالكتروني</h1>
                  </div>
      </div>
    </section>
{% endblock %}