{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> {{ request.user }} أجنحة |   </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'wingsApp/userHome/assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'wingsApp/userHome/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'wingsApp/userHome/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'wingsApp/userHome/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.2.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ user.username.prof_pic.url }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">{{ request.user.first_name }}  {{ request.user.last_name }} </a></h1>
          <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="file" name="myfile" style="border: none;">
            <button type="submit"> <i class="bx bx-camera"></i> تغيير الصورة الشخصية</button>

        </form>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'userHome' %}" class="nav-link scrollto active"> <span> الصفحة الرئيسية </span><span style="color:#7a4c51">d</span><i class="bx bx-home"></i></a></li>
          <li><a href="#services" class="nav-link scrollto"> <span style="color:#7a4c51">dd</span> <span> مكتبتي </span><span style="color:#7a4c51">d</span><i class="bx bx-server"></i></a></li>
          <li><a href="#resume" class="nav-link scrollto"><span style="color:#7a4c51; font-size: small">dd</span> <span> اطروحاتي </span><span style="color:#7a4c51">d</span><i class="bx bx-file-blank"></i> </a></li>
          <li><a href="#about" class="nav-link scrollto"><span style="color:#7a4c51">d</span> <span> الاعدادات </span><span style="color:#7a4c51">d</span><i class="bx bx-user"></i></a></li>
          <li><a href="#contact" class="nav-link scrollto"><span style="color:#7a4c51;font-size: small">d</span> <span> تواصل معنا </span><span style="color:#7a4c51">d</span><i class="bx bx-envelope"></i> </a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
<main id="main">
<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>اطروحاتي</h2>
        </div>

        <div class="" data-aos="fade-up" data-aos-delay="100">
          <div class="">

            <div style="height: 100px; width: 400px; float: left;margin:10px"  class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                  <h2></h2>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
إنني لا أحيا في ماضيَ، ولا في مستقبلي. ليس لي سوى الحاضر، وهو وحده ما يهمني. إذا كان باستطاعتك البقاء دائماً في الحاضر، تكون عندئذ إنساناً سعيداً                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                <br><br>
                    <a href="">الخيميائي | باولو كويلو</a>
                    <br>
                    الثلاثاء، 12\4\2021
                </p>
              </div>
            </div><!-- End testimonial item -->

              <div style="height: 100px; width: 400px;float: left;margin:10px" class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                     إنّ حياتنا في حقيقتها هي الشقاء مجسداً والعبودية في أبشع صورها

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br><br>
                    <a href="">مزرعة الحيوان | جورج أورويل</a>
                    <br>
                    الثلاثاء، 12\4\2021
                </p>

              </div>
            </div><!-- End testimonial item -->
          <div style="height: 100px; width: 400px;float: left;margin:10px"  class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
مهما كان شعوركم، فانهضوا كل صباح، واستعدوا لتدعوا نوركم ينشر شعاعه.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br><br>
                    <a href="">باولو كويلو</a>
                    <br>
                    الخميس، 12\4\2021
                </p>
              </div>
            </div><!-- End testimonial item -->

               <div style="height: 100px; width: 400px;float: left;margin:10px"  class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
مهما كان شعوركم، فانهضوا كل صباح، واستعدوا لتدعوا نوركم ينشر شعاعه.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br><br>
                    <a href="">باولو كويلو</a>
                    <br>
                    الخميس، 12\4\2021
                </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
        </div>

      </div>



    </section><!-- End Testimonials Section -->


</main>
</body>

</html>
<!-- library backup -->
{% extends 'AJNIHA/layout.html' %}
{% load static %}
{% block title %}أجنحة | مكتبتي {% endblock %}
{% block content %}


<main id="main">



    <section style="background-color: transparent" id="portfolio" class="portfolio section-bg" >
<div style="direction:rtl;background-color: rgba(5,32,40,0.37);
  align-items: center;
  padding: 30px;
"
 class="container">



    <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<section id="portfolio" class="portfolio section-bg">
{% for shelf in shelves %}
    <div style="" class="container">
        <div class="section-title">
            <h2> {{ shelf.shelfName }}</h2>

        </div>

        <div style="" class="row" data-aos="fade-up" data-aos-delay="100">
            {% for book in bookForShelf %}
                {% if book.shelf == shelf %}

                    <div style="width: 200px" class="portfolio-item filter-app">
                          <a title="حذف الكتاب" name="delete" id="{{ book.id }}"><i class="bx bx-x" id="{{ book.id }}"></i></a>
                        <div style="" class="portfolio-wrap">
                            <img src="{{ book.book.image.url }}"
                                 class="img-fluid" alt="">
                            <div class="portfolio-links">

                        <span style="background: #194680; color: white; size: 10px"> {{ book.book.bookTitle }}
                                    <br>
                                    {{ book.book.author }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div style="width: 40px;height: 40px;top: 90px; margin-left: 50px ">

            </div>


        </div>

    </div>
{% endfor %}

<form method="post">
    {% csrf_token %}
    <input id="bookDelete" name="bookDelete" type="text" style="visibility: hidden">
    <button id="bookToDelete" name="bookToDelete" type="submit" style="visibility: hidden"></button>
</form>
<script>
    //for  delete
    var elements = document.getElementsByName("delete")
    for (var i = 0; i < elements.length; i++) {
        elements[i].addEventListener("click",delet)
    }
     function delet(e){
        var idd= e.target.id;
         console.log(idd);
            document.getElementById("bookDelete").value= idd;
           document.getElementById("bookToDelete").click();

    }
</script>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">إضافة رف قراءة</button>
     <a href="{% url 'search' %}" style="margin: auto">   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">إضافة كتاب</button></a>

<!-- Modal -->
<form method="post">
     {% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">إضافة رف </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input name="addShelf" placeholder="أدخل اسم الرف " required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
        <button type="submit" class="btn btn-primary">إضافة الرف</button>
      </div>
    </div>
  </div>
</div>
</form>
</script>
</section><!-- End Section -->
</html>
</div>
    </section>
</main>
{% endblock %}