{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> {{ request.user }} أجنحة |   </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'wingsApp/userHome/assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'wingsApp/userHome/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'wingsApp/userHome/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'wingsApp/userHome/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'wingsApp/userHome/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.2.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ account.prof_pic.url }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">{{ request.user.first_name }}  {{ request.user.last_name }} </a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'userHome' %}" class="nav-link scrollto active"> <span> الصفحة الرئيسية </span><span style="color:#7a4c51">d</span><i class="bx bx-home"></i></a></li>
          <li><a href="#services" class="nav-link scrollto"> <span style="color:#7a4c51">dd</span> <span> مكتبتي </span><span style="color:#7a4c51">d</span><i class="bx bx-server"></i></a></li>
          <li><a href="#resume" class="nav-link scrollto"><span style="color:#7a4c51; font-size: small">dd</span> <span> اطروحاتي </span><span style="color:#7a4c51">d</span><i class="bx bx-file-blank"></i> </a></li>
          <li><a href="#about" class="nav-link scrollto"><span style="color:#7a4c51">d</span> <span> الاعدادات </span><span style="color:#7a4c51">d</span><i class="bx bx-user"></i></a></li>
          <li><a href="#contact" class="nav-link scrollto"><span style="color:#7a4c51;font-size: small">d</span> <span> تواصل معنا </span><span style="color:#7a4c51">d</span><i class="bx bx-envelope"></i> </a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
<main id="main">
<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>اطروحاتي</h2>
        </div>

        <div class="" data-aos="fade-up" data-aos-delay="100">
          <div class="">

            <div style="height: 100px; width: 400px; float: left;margin:10px"  class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                  <h2></h2>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
إنني لا أحيا في ماضيَ، ولا في مستقبلي. ليس لي سوى الحاضر، وهو وحده ما يهمني. إذا كان باستطاعتك البقاء دائماً في الحاضر، تكون عندئذ إنساناً سعيداً                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                <br><br>
                    <a href="">الخيميائي | باولو كويلو</a>
                    <br>
                    الثلاثاء، 12\4\2021
                </p>
              </div>
            </div><!-- End testimonial item -->

              <div style="height: 100px; width: 400px;float: left;margin:10px" class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                     إنّ حياتنا في حقيقتها هي الشقاء مجسداً والعبودية في أبشع صورها

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br><br>
                    <a href="">مزرعة الحيوان | جورج أورويل</a>
                    <br>
                    الثلاثاء، 12\4\2021
                </p>

              </div>
            </div><!-- End testimonial item -->
          <div style="height: 100px; width: 400px;float: left;margin:10px"  class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
مهما كان شعوركم، فانهضوا كل صباح، واستعدوا لتدعوا نوركم ينشر شعاعه.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br><br>
                    <a href="">باولو كويلو</a>
                    <br>
                    الخميس، 12\4\2021
                </p>
              </div>
            </div><!-- End testimonial item -->

               <div style="height: 100px; width: 400px;float: left;margin:10px"  class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
مهما كان شعوركم، فانهضوا كل صباح، واستعدوا لتدعوا نوركم ينشر شعاعه.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br><br>
                    <a href="">باولو كويلو</a>
                    <br>
                    الخميس، 12\4\2021
                </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
        </div>

      </div>



    </section><!-- End Testimonials Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'wingsApp/userHome/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/typed.js/typed.min.js'%}"></script>
  <script src="{% static 'wingsApp/userHome/assets/vendor/waypoints/noframework.waypoints.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'wingsApp/userHome/assets/js/main.js'%}"></script>
</main>
</body>

</html>